# Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
ENV/
env/

# DVC cache and metadata
.dvc/
*.dvc

# Git
.git/
.gitignore

# Logs
logs/
*.log

# Data artifacts (if not needed in image)


# Jupyter notebooks
*.ipynb

# OS files
.DS_Store
Thumbs.db

# Dockerfile itself and dockerignore (optional, but usually not needed in image)
Dockerfile
.dockerignore